<% if logged_in? %>
  <div class="row">
    <span class="border-bottom">
    <div class="offset-sm-4 col-sm-4">
      <%= form_with(model: @post) do |f| %>
        <div class="mb-3">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <div class="mb-3">
          <%= f.file_field :image2, class: 'btn btn-dark w-100'%>
          <%= f.hidden_field :image_cache %>
        </div>
        <%= f.submit '投稿', class: 'btn btn-dark w-100 mb-2' %>
      <% end %>
    </div>
    </span>
  </div>
  <div class="row">
    <div class="offset-sm-4 col-sm-4">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
  <div class="border border-dark">
    <div class="text-center mb-5 mt-5">
      <h1 class="img-fluid"><%= image_tag 'title_black2.svg', size: '250x50'%></h1>
    </div>
  </div>
  <div class="d-flex justify-content-center">
  <%= link_to '会員登録', signup_path, class: 'btn btn-dark me-3' %>
  <%= link_to 'ログイン', login_path, class: 'btn btn-dark ms-3' %>
  </div>
<% end %>

